.indicator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.indicator {
  width: 45px;
  height: 4px;
  background-color: #fff;
  opacity: 0.5;
  cursor: pointer;
  margin: 10px 0;
}
.indicator-active {
  /* width: 50px; */
  opacity: 1;
  background-color: #fff;
}
